body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'PT Serif', serif;
}

/* ---------------------------------------- Game Section ---------------------------------------- */
#game {
    width: 100%; 
    display: flex;
    flex-direction: row;
}

.game-section {
    width: 100%;
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(251, 226, 218, 1)), color-stop(rgba(79, 83, 105, 1)), color-stop(rgba(253, 213, 195, 1)), color-stop(rgba(214, 223, 235, 1)), to(rgba(245, 245, 245, 1)));
    background: -o-linear-gradient(bottom, rgba(251, 226, 218, 1), rgba(79, 83, 105, 1), rgba(253, 213, 195, 1), rgba(214, 223, 235, 1), rgba(245, 245, 245, 1));
    background: linear-gradient(0deg, rgba(251, 226, 218, 1), rgba(79, 83, 105, 1), rgba(253, 213, 195, 1), rgba(214, 223, 235, 1), rgba(245, 245, 245, 1));

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
}

.game-container {
    width: 100%;
}

.game-container-item-outer { 
    max-width:624px;
    margin: 0 auto;
}

.game-container-item-inner {
    max-width: 560px;

    text-align: center;
    padding: 1rem;
    margin: 2rem;
    border-radius: .5rem;
    background: rgb(115, 110, 124);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

/* ---------------------------------------- Start Game Container ---------------------------------------- */

.game-container-item-inner-start {
    width: 100%;
    min-height: 330px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.game-container-item-inner-start-quiz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.game-start-title {
    font-size: 24px;
    color: #fff;
}

.btn:focus {
    box-shadow: none;
}

.btn--game {
    width: 200px;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
    word-wrap: break-word;
    transition: all 0.6s ease-in-out;
}

.btn--game:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0 16px 30px -2px rgba(66, 59, 59, 0.68);
            box-shadow: 0 16px 30px -2px rgba(66, 59, 59, 0.68);
}

.btn--misty-rose {
    background: #fbe2da;
    color: #000;
}

/* ---------------------------------------- High Score Container---------------------------------------- */

.quiz-container-item-inner-highscore {
    width: 100%;
    min-height: 330px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.table {
    color: #fff;
}

.table caption {
    caption-side: top;
    text-align: center;
    background-color: rgba(253, 213, 195, 1);
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
}

.table thead th, .table th, .table td {
    border-color: rgba(251, 226, 218, 1);
}

/* ---------------------------------------- Quiz Container ---------------------------------------- */

.quiz-container-item-inner-text {
    width: 100%;
    min-height: 330px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Quiz header */
.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-brand {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.quiz-brand-logo {
    width: 30px;
    height: auto;
}

.quiz-brand-text {
    display: none;
}

.quiz-time {
    font-size: 16px;
    font-weight: 400;
    padding: 0.3rem 0.5rem;
    border-radius: 0.8rem;

    background: #E7F6F9;
    color: #000;
}

.time-left {
    padding: 0.2rem 1rem;
    border-radius: 0.7rem;

    background: rgb(115, 110, 124);
    color:#fff;
}

.warning {
    -webkit-animation: warning .8s infinite;
            animation: warning .8s infinite;
}

@keyframes warning {
    50% {
        background: #DD2C2F;
        color:#000;
    }
}

/* Quiz content */
.quiz-content {
    margin: 1rem 0;
}

.quiz-question {
    padding: 0.5rem;
    color: #fff;
    font-size: 16px;
}

.option-wrapper  {
    width: 100%;
    margin: 1rem 0;

}

.option{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #9fc1ec;
    color: #fff;
    cursor: pointer;
}

.option:hover {
    background: #cfeef4;
    color:#000;
}

.correct {
    background: #EBFFDD;
    border: 1px solid #1C9800;

    color:#000;
}

.wrong {
    background: #FEE6E8;
    border: 1px solid #DD2C2F;

    color:#000;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.correct-icon::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    color: #1C9800;
}

.wrong-icon::before {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    color: #DD2C2F;
}

/* ---------------------------------------- Media Query ---------------------------------------- */

@media only screen and (min-width: 768px) {
    .game-container-item-inner {
        padding: 3rem;
    }
        
    .game-start-title {
        font-size: 36px;
    }
    
    .quiz-time {
        font-size: 20px;
    }
    
    .quiz-brand-text {
        display: inline;
    }

    .quiz-question {
        font-size: 20px;
    }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
   .game-container-item-inner {
        padding: 2rem;
    }

    .game-start-title {
        font-size: 30px;
    }
}