/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f5f5f5;    
    font-family: 'PT Serif', serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: .75rem;
}

h1, 
h2 {
    margin-bottom: 2rem;
}

/* ---------------------------------------- NavBar ---------------------------------------- */
.navbar {
    padding: .5rem 2rem;
}

.logo {
    width: 30px;
    height: auto;
}

.bg-light {
    background-color: #d6dfeb !important;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}

button:focus, .navbar-nav a {
    outline: none;
}

.navbar-toggler {
    padding: 0;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
}

button[aria-expanded="true"] .bar1 {
    -webkit-transform: rotate(45deg) translate(5px, 9px);
        -ms-transform: rotate(45deg) translate(5px, 9px);
            transform: rotate(45deg) translate(5px, 9px);
}

button[aria-expanded="true"] .bar2 {
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
    opacity: 0;
}

button[aria-expanded="true"] .bar3::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

button[aria-expanded="true"] .bar3 {
    -webkit-transform: rotate(-45deg) translate(2px,-6px);
        -ms-transform: rotate(-45deg) translate(2px,-6px);
            transform: rotate(-45deg) translate(2px,-6px);
}

/* ---------------------------------------- Landing ---------------------------------------- */

main {
    margin-top: 59.4px;
}

#home {
    width: 100%; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

.landing-section {
    width: 100%;
    min-height: calc(100vh - 59.4px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
}

.landing-section--bg {
    background: url('../images/pexels-lex-photography-1109543.jpg') no-repeat center center scroll;
    background-size: cover;
}

.landing-section-item {
    width: 100%;
}

.landing-section-item-container-outer { 
    max-width:624px;
    margin: 0 auto;
}

.landing-section-item-container-inner {
    max-width: 560px;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: .5rem;
    background: rgba(250, 250, 250, 1);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.landing-section-item-container-text {
    width: 100%;
    min-height: 195px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn--cta-quiz {
    border-radius: 1.5rem;
    padding: 5px 20px;
    margin: 1.5rem 0;
}

.btn--misty-rose {
    background-color: #fbe2da;
    color: #000;
}

.btn--misty-rose:hover,
.btn--misty-rose:active,
.btn--misty-rose:focus,
.btn--misty-rose:active:focus {
    background-color: #fdd5c3;
    border-color: #fdd5c3;
    color: #000;
}

.landing-section-item a {
    color: #000;
}

.bounce-in {
    opacity: 0;
    -webkit-animation: bounce-in .7s forwards;
            animation: bounce-in .7s forwards;
}

@-webkit-keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10rem) scale(0.8);
                transform: translateY(-10rem) scale(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10rem) scale(0.8);
                transform: translateY(-10rem) scale(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

.bounce {
    -webkit-animation: bounce .8s infinite;
            animation: bounce .8s infinite;
}

@-webkit-keyframes bounce {
    50% {
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
    }
}

@keyframes bounce {
    50% {
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
    }
}

.landing-title {
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
}
.landing-subtitle {
    -webkit-animation-delay: .9s;
            animation-delay: .9s;
}

.btn--landing {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

/* ---------------------------------------- Categories ---------------------------------------- */
#categories {
    width: 100%;
}

.section-title {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 60px;
    padding: 60px 0 0 0;
}

hr {
    width: 65%;
    height: 2px;
    margin-bottom: 1.5rem;    
    background: -o-linear-gradient(left,rgba(245, 245, 245, 1), rgba(79, 83, 105, 1),rgba(245, 245, 245, 1));    
    background: -webkit-gradient(linear,left top, right top,from(rgba(245, 245, 245, 1)), color-stop(rgba(79, 83, 105, 1)),to(rgba(245, 245, 245, 1)));    
    background: linear-gradient(90deg,rgba(245, 245, 245, 1), rgba(79, 83, 105, 1),rgba(245, 245, 245, 1));
}

.quiz-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;   
       -ms-flex-align: center;   
          align-items: center;
}

.quiz-card {
    width: 30%;
    margin: 10px;
    border-radius: .5rem;
    margin-bottom: 1rem;
    -webkit-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out; 
    -webkit-box-shadow: -10px 10px 8px -5px rgba(79, 83, 105,0.15);
            box-shadow: -10px 10px 8px -5px rgba(79, 83, 105,0.15);
}

.quiz-card:hover {
    -webkit-box-shadow: 0 12px 12px -10px rgba(0, 0, 0, 0.68);
            box-shadow: 0 12px 12px -10px rgba(0, 0, 0, 0.68);
    -webkit-transform: translateY(-0.8rem);
        -ms-transform: translateY(-0.8rem);
            transform: translateY(-0.8rem);
}

.quiz-card:hover .quiz-content {
    background-color: #4f5369;
}

.quiz-card:hover .quiz-category {
    background-color: #fff;
    color: #000;
}

.quiz-image {
    width: 100%;
    height: 190px;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.quiz-content {
    background-color: #fff;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    text-align: right;
    position: relative;
}

.quiz-category {
    background-color: #4f5369;
    color: #fff;
    position: absolute;
    left: 0;
    top: -18px;
    padding: 5px 15px;
}

.btn--quiz-categories {
    margin-right: 1.5rem;
}

/* ---------------------------------------- Quiz Categories Photo ---------------------------------------- */
.quiz-image--computers {
    background: url('../images/pexels-tranmautritam-69432.jpg') no-repeat center center scroll;
    background-size: cover;        
}

.quiz-image--nature-science {
    background: url('../images/pexels-anthony-132477.jpg') no-repeat center center scroll;
    background-size: cover;     
}

.quiz-image--history {
    background: url('../images/pexels-pixabay-164336.jpg') no-repeat center center scroll;
    background-size: cover;     
}

.quiz-image--geography {
    background: url('../images/pexels-chelsea-cook-2929906.jpg') no-repeat center center scroll;
    background-size: cover;     
}

.quiz-image--art {
    background: url('../images/florence-3684231_640.jpg') no-repeat center center scroll;
    background-size: cover;     
}

.quiz-image--mathematics {
    background: url('../images/pexels-jeshootscom-714698.jpg') no-repeat center center scroll;
    background-size: cover;     
}

/* ---------------------------------------- Contact ---------------------------------------- */
#contact {
    width: 100%;
    min-height: 760px;
    background: -o-linear-gradient(bottom, rgba(251, 226, 218, 1), rgba(79, 83, 105, 1), rgba(253, 213, 195, 1), rgba(214, 223, 235, 1), rgba(245, 245, 245, 1));
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(251, 226, 218, 1)), color-stop(rgba(79, 83, 105, 1)), color-stop(rgba(253, 213, 195, 1)), color-stop(rgba(214, 223, 235, 1)), to(rgba(245, 245, 245, 1)));
    background: linear-gradient(0deg, rgba(251, 226, 218, 1), rgba(79, 83, 105, 1), rgba(253, 213, 195, 1), rgba(214, 223, 235, 1), rgba(245, 245, 245, 1));
}

.contact-wrapper {
    margin: 0 2rem;
}

.form-control:focus {
    color: #000;
    border-color: #4f5369;
    -webkit-box-shadow: 0 0 0 2px rgba(79, 83, 105,0.3);
            box-shadow: 0 0 0 2px rgba(79, 83, 105,0.3);
}

.btn--contact {
    width: 100%;
}

/* ---------------------------------------- Footer ---------------------------------------- */

#footer {
    width: 100%;
    padding: 2rem;
    background-color: #4f5369;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;   
       -ms-flex-align: center;   
          align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-brand {
    margin: 1rem 0;
    font-size: 25px;
    color: #fff;
}

.footer-brand:hover {
    text-decoration: none;
    color: #fff;
}

.footer-brand-logo {
    width: 40px;
    height: auto;
}

.footer-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
}

.footer-social-links-item a i {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding-top: 12px;
    margin: 0 1rem;
    background-color: #d6dfeb;
    color: #000;
    text-align: center;
}

.footer-social-links-item a i:hover {
    background-color: #000;
    color: #d6dfeb;
}

.footer-social-links-item a:focus {
    outline: none;
}

/* ---------------------------------------- 404 Page ---------------------------------------- */

#error-section {
    width: 100%; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

.error-container-flex {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
}

.error-container--bg {
    background: -o-linear-gradient(bottom, rgba(251, 226, 218, 1), rgba(79, 83, 105, 1), rgba(253, 213, 195, 1), rgba(214, 223, 235, 1), rgba(245, 245, 245, 1));
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(251, 226, 218, 1)), color-stop(rgba(79, 83, 105, 1)), color-stop(rgba(253, 213, 195, 1)), color-stop(rgba(214, 223, 235, 1)), to(rgba(245, 245, 245, 1)));
    background: linear-gradient(0deg, rgba(251, 226, 218, 1), rgba(79, 83, 105, 1), rgba(253, 213, 195, 1), rgba(214, 223, 235, 1), rgba(245, 245, 245, 1));
}

.error-container-flex-child {
    width:100% 
}

.error-container-item-outer{ 
    max-width:624px;
    margin: 0 auto;
}

.error-container-item-inner {
    max-width: 560px;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    border-radius: .5rem;
    background: rgb(115, 110, 124);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.error-container-item {
    width: 100%;
    min-height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
} 

.error-title {
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
    color: #fff;
}
.error-subtitle {
    -webkit-animation-delay: .9s;
            animation-delay: .9s;
    color: #fff;
}

.btn--error {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

/* ---------------------------------------- Media Query ---------------------------------------- */
@media only screen and (min-width: 768px) and (max-width:1199px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-link {
        margin-left: 2rem;
    }
}

@media only screen and (min-width:768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    .landing-section-item-container-inner {
        padding: 3rem;
    }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .container {
        max-width: 720px;
    }
    .quiz-card {
        width: 45%;
    }
}

@media only screen and (max-width: 575px) {
    .quiz-card {
        width: 80%;
    }
}
